.header>.ant-list-header{
    flex: auto;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 20px 0;
}
.scrollerBox {
    height: 450px;
}

.scrollerBox::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.scrollerBox::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.scrollerBox::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
}