.loginForm {
  max-width: 300px;
}
.siteLayoutContent {
  padding: 24px;
  background: #fff;
}
.loginBox {
  width: 360px;
  margin: 7% auto;
}
.loginFormForgot {
  float: right;
}
.antColRtl .loginCormForgot {
  float: left;
}
.loginFormButton {
  width: 100%;
}
