@import '~antd/dist/antd.css';
.logo {
  float: left;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.comment-list > .ant-list-header{
  flex: auto;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5715;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0 20px 0;
}
/*.site-layout .site-layout-background {*/
/*  background: #fff;*/
/*}*/
/*body {*/
/*  background: #f0f2f5;*/
/*}*/

